<div style="height: 180.111px; width: 74.858px;">
    <div style="height: 48.36%; width: 26.73%; background-image: url('~/images/mannequin/rightArm_blue.png'); float: left;">
    </div>
    <div style="height: 48.36%; width: 26.73%; background-image: url('~/images/mannequin/leftArm_blue.png'); float: right;">
    </div>
    <div style="height: 17.767%; width: 100%; background-image: url('~/images/mannequin/head_blue.png');">
    </div>
    <div style="height: 33.868%; width: 26.73%; background-image: url('~/images/mannequin/feet_blue.png');">
    </div>
    <div style="height: 48.304%; width: 60.114%; background-image: url('~/images/mannequin/body_blue.png');">
    </div>
</div>