<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GloomhavenTracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/fonts/stylesheet.css" />
</head>
<body class="bgimg" style="font-family: pirata_oneregular;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <table style="background-image: url('/images/scroll_inner.png');background-size: 100% 100%;">
                    <tr>
                        <td>
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">GloomhavenTracker</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </td>
                        <td>
                            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                                <ul class="navbar-nav flex-grow-1">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Party" asp-action="Index">Parties</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </table>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>
    <div class="container" >
        <div style="width: 100%; height: 158px; background-image: url('/images/scroll_top.png'); background-size: 100% 100%;">
        </div>
            <div style="background-image: url('/images/scroll_middle.png'); background-size: 100% 100%;">
                <main role="main" class="pb-3" style="padding-left: 10%; padding-right: 10%;">
                    @RenderBody()
                </main>
            </div>
        <div style="width: 100%; height: 180px; background-image: url('/images/scroll_bottom.png'); background-size: 100% 100%;">
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - GloomhavenTracker - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<style type="text/css">
.bgimg {
    background-image: url('/images/gloomhaven.jpg');
    background-size: 100% 100%
}
td {
    border-top: none!important;
}
th {
    border-top: none!important;
}
</style>
