@using GloomhavenTracker.Models.DatabaseModels
@model List<Party>
@{
    ViewData["Title"] = "Party";
}

<div class="text-center">
    <h1 class="display-4">List of Parties</h1>
    <table class="table table-hover" style="border: none;">  
        <tr>  
            <th>Party Name</th>   
            <th>Actions</th>   
        </tr>  
        @foreach (var d in Model)  
        {  
            <tr>  
                <td>
                    @Html.ActionLink(d.Name, "Detail", new { id = d.Id })
                </td> 
                <td>
                    <div>@Html.ActionLink("Delete", "Delete", new { id = d.Id }, new { onclick = "return confirm('Are you sure you wish to delete this Party?');" }) || @Html.ActionLink("Edit", "Edit", new { id = d.Id})</div>
                </td> 
            </tr>  
        }  
    </table>
    <form method="get" asp-controller="Party" asp-action="Create">
        <input type="submit" value="Create party" class="btn btn-default"/>
    </form>
</div>
