@using GloomhavenTracker.Models.ViewModels
@inject GloomhavenTracker.Data.GloomhavenTrackerContext context;
@model CharacterCreateViewModel
@{
    ViewData["Title"] = "Create Character";
}

<h1>@ViewData["Title"].</h1>

<form asp-controller="Character" asp-action="Create" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
    <h4>Create a new party.</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Level" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Level" class="form-control" />
            <span asp-validation-for="Level" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ExperiencePoints" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ExperiencePoints" class="form-control" />
            <span asp-validation-for="ExperiencePoints" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Gold" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Gold" class="form-control" />
            <span asp-validation-for="Gold" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="CreationDate" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input type="date" asp-for="CreationDate" class="form-control" />
            <span asp-validation-for="CreationDate" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="RetirementDate" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input type="date" asp-for="RetirementDate" class="form-control" />
            <span asp-validation-for="RetirementDate" class="text-danger"></span>
        </div>
    </div>
    <div style="visibility: hidden; height:0px">
        <div class="col-md-10">
            @Html.EditorFor(model=>model.PartyId)
        </div>
    </div>
    @* <div class="form-group">
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.SelectedPartyId, Model.Parties,"Party Name")
        </div>
    </div> *@
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Create!</button>
        </div>
    </div>
</form>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}