@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <form method="get" asp-controller="Party" asp-action="Index">
        <input type="submit" value="View Parties" class="btn btn-default"/>
    </form>
</div>
