@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a  class="nav-link text-dark" asp-controller="Party" asp-action="Index" title="Manage">View parties</a>
</div>
